	<div class="row">
		<div class="span8"><img src="img/changetime.jpg" /></div>
		<div class="span4">
				<p>Jump into the Time Machine, visit past ages and see what really happened back then.
				<div align=center>
					<button class="btn btn-primary btn-large" onclick="window.location.href='#/timeline'">Enter the Time Machine!</button>
				</div>

				<hr>
				<p>Have you always to time-travel. Become a crew member of the Time Machine workshop. We need writers, researchers, editors, image editors, and beta testers to build the Time Machine, made by kids, for kids. 
			<div align=center>
				<button class="btn btn-primary btn-large">Sign-up</button>
			</div>

		</div>