<div ng-controller="StoryCtrl">
	<div class="row">
		<div class="span12">
			<h2>Story Preview</h2>
			<div class="row">
				<div class="span12 media">
					<span style="{{visible}}">
						<div class="admin"></div>
					</span>
					<img width="200" src="{{story.img}}" class="media-object pull-left">
					<p>{{story.body}}</p>
						<button style="display:{{story.visible}}" class="btn-large btn-primary" ng-click="submitForReview()">Submit for Review</button>
				</div>

			</div>
		</div>
	</div>
</div>