<div ng-controller="StoryCtrl">
	<div class="row">
		<div class="span12">
			<h2>Story Preview</h2>
			<div class="row">
				<div class="span9 media">
					<span style="{{visible}}">
						<admin></admin>
					</span>
					<img src="{{story.img}}" class="media-object pull-left">
					<p>{{story.body}}</p>
				</div>

				<div class="span3">
					<div class="media">
					  <a class="pull-left" href="#">
					    <img class="media-object" data-src="holder.js/64x64">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">Media heading</h4>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>