<ul class="thumbnails" >
    <li class="span1" ng-repeat="era in eras">
    <a class="thumbnail" href="#/era/{{era.id}}" ><img src="http://images2.fanpop.com/image/photos/9400000/Aaaaaawwwwwwwwww-Sweet-puppies-9415255-1600-1200.jpg" alt=""  class="img-rounded"/></a>{{era.name}}
    </li>
</ul>
<div class="phone">
<h2>Edit Story</h2>
<form no-validate ng-controller="Story" name="StoryEdit" class="simple-form">
        <a href="#/story/{{story.id}}">preview this story</a>
        <label>Name</label><input type="text" ng-model="story.name" /><br />
        <label>Body</label><textarea rows="10" ng-model="story.body"></textarea><br/>
        <button ng-click="update(user)">SAVE</button>
</form>
      
</div>