<div id="wb-home">
	<div class="wb-option">
		<a href="#" onclick="window.location.href='#/story/create'; return false;">
			<img class="pull-left" src="img/newAdventure.jpg" width="120" height="120">
			<h2>Create a New Adventure</h2>
			<p>Write, Add Images</p>
		</a>
	</div>
	<div class="wb-option">
		<a href="#" onclick="window.location.href='#/drafts'; return false;">
			<img class="pull-left" src="img/draftAdventure.jpg" width="120" height="120">
			<h2>Your Adventures in draft</h2>
			<p>Write, edit, tinker, add images</p>
		</a>
	</div>	
	<div class="wb-option">
		<a href="controlpanel.php">
			<img class="pull-left" src="img/readAdventure.jpg" width="120" height="120">
			<h2>Transport to the Time Machine</h2>
			<p>Read existing adventures, get ideas</p>
		</a>
	</div>		
</div>
